- var css_path = '../css'
- var js_path = '../js'
- var image_path = '../images'
-
  var pages = {
    top: {
      url: '',
      name: 'NEWS',
      title: 'NEWS',
      description: 'ニュース',
      keywords: '',
      image: 'freestocks-org-72560.jpg'
    },
  }