- var css_path = '../css'
- var js_path = '../js'
- var image_path = '../images'
-
  var pages = {
    exsample: {
      url: '',
      name: '',
      title: '',
      description: '',
      keywords: '',
      image: ''
    },
  }