@mixin fontsize($size: 24) {
    font-size: $size + px;
    font-size: ( $size / 10)+ rem;
}

@function get_vw($size, $viewport:320) {
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size:10) {
    font-size: $font_size * 1px;
    font-size: get_vw($font_size);
}

$breakpoint-mobile: 768px;
@mixin max-screen($break-point) {
    @media screen and (min-width: $break-point) {
        @content;
    }
}

@mixin imgcover {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

html {
    font-size: 62.5%;
    overflow: auto;
}

body {
    width: 100%;
    font-size: 1.4em;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
    line-height: 1.5;
    font-family: YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', Meiryo, sans-serif;
    @include fz_vw(11);
    h2 {
    }
    h3 {
    }
    h4 {
    }
    h5{
    }
    figure {
        width: 100%;
        overflow: hidden;
        @include imgcover;
    }
    img {
        display: block;
    }
    a{
        text-decoration: none;
    }
}

.button,
.button::before,
.button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}